/* Tabloyu sayfaya ortala */
#table {
    margin: 0 auto;
  }
  
  /* Sütünları oranla */
  #table th,
  #table td {
    text-align: center; /* Sütün içeriğini ortala */
    padding: 8px; /* Sütün içeriği ile hücre arasındaki boşluğu ayarla */
  }
  
  /* İlk sütünü daha geniş yap */
  #table th:first-child,
  #table td:first-child {
    width: 20%; /* İlk sütünü genişliği ayarla */
  }
  
  /* Diğer sütünları eşit genişlikte yap */
  #table th:not(:first-child),
  #table td:not(:first-child) {
    width: 15%; /* Diğer sütünleri genişliği ayarla */
  }
  